body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.navbar-inverse {
    background-color: #D60000;
    border-color: #D60000;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

#div1 {
    margin-top: 10px;
    min-height: 100px;
    border: 1px dotted #aaa;
    font-size: 24px;
    color: #777;
}

#dropText {
    padding-top : 30px;
    text-align : center;
}

.imageContainer {
    margin-bottom: 5px;
    padding: 5px
}

.imageContainer:after {
    content: '';
    display: block;
    clear: both;
    border-bottom: 1px solid #aaa;
    padding-top: 5px;
}

.imageContainer img {
    float: left;
}

.imageContainer .textDiv {
    margin-left: 320px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
